In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression

In [3]:
credit_data=pd.read_csv('/content/creditcard.csv')

In [4]:
credit_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0

In [5]:
credit_data.shape

(19898, 31)

In [6]:
credit_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       1
V12       1
V13       1
V14       1
V15       1
V16       1
V17       1
V18       1
V19       1
V20       1
V21       1
V22       1
V23       1
V24       1
V25       1
V26       1
V27       1
V28       1
Amount    1
Class     1
dtype: int64

In [7]:
credit_data.describe()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
count,19898.000000,19898.000000,19898.000000,19898.000000,19898.000000,19898.000000,19898.000000,19898.000000,19898.000000,19898.000000,...,19897.000000,19897.000000,19897.000000,19897.000000,19897.000000,19897.000000,19897.000000,19897.000000,19897.000000,19897.000000
mean,15492.416374,-0.244326,0.242420,0.745774,0.277011,-0.163264,0.092881,-0.145279,0.022237,0.636382,...,-0.047949,-0.146461,-0.038093,0.010678,0.122924,0.033127,0.014454,0.007312,70.271100,0.004272
std,10512.066686,1.889986,1.527342,1.767726,1.466218,1.430821,1.331029,1.338260,1.346813,1.278839,...,0.828385,0.637567,0.520683,0.591180,0.437675,0.530315,0.393002,0.244372,205.363789,0.065222
min,0.000000,-30.552380,-40.978852,-31.103685,-5.172595,-32.092129,-23.496714,-26.548144,-41.484823,-7.175097,...,-20.262054,-8.593642,-26.751119,-2.728650,-7.495741,-1.338556,-8.567638,-3.575312,0.000000,0.000000
25%,4536.250000,-0.959632,-0.329008,0.309235,-0.636713,-0.745156,-0.657306,-0.599403,-0.171779,-0.209565,...,-0.259497,-0.563992,-0.174213,-0.333314,-0.138325,-0.341917,-0.069146,-0.010879,5.750000,0.000000
50%,14796.000000,-0.302521,0.220079,0.898672,0.224608,-0.199377,-0.175434,-0.072254,0.023822,0.620176,...,-0.115398,-0.118803,-0.046994,0.061181,0.160495,-0.036546,0.003868,0.019083,16.000000,0.000000
75%,26220.500000,1.164473,0.870117,1.532922,1.142143,0.341367,0.486735,0.448572,0.279960,1.409142,...,0.049521,0.254057,0.073666,0.398549,0.400713,0.332729,0.096281,0.077551,59.980000,0.000000
max,30633.000000,1.960497,16.713389,4.101716,11.927512,34.099309,21.393069,34.303177,20.007208,10.392889,...,22.614889,5.805795,13.876221,3.695503,5.525093,3.517346,8.254376,4.860769,7879.420000,1.000000

In [13]:
credit_data['V11'].fillna(credit_data['V11'].median(),inplace=True)
credit_data['V12'].fillna(credit_data['V12'].median(),inplace=True)
credit_data['V13'].fillna(credit_data['V13'].median(),inplace=True)
credit_data['V14'].fillna(credit_data['V14'].median(),inplace=True)
credit_data['V15'].fillna(credit_data['V15'].median(),inplace=True)
credit_data['V16'].fillna(credit_data['V16'].median(),inplace=True)
credit_data['V17'].fillna(credit_data['V17'].median(),inplace=True)
credit_data['V18'].fillna(credit_data['V18'].median(),inplace=True)
credit_data['V19'].fillna(credit_data['V19'].median(),inplace=True)
credit_data['V20'].fillna(credit_data['V20'].median(),inplace=True)
credit_data['V21'].fillna(credit_data['V21'].median(),inplace=True)
credit_data['V22'].fillna(credit_data['V22'].median(),inplace=True)
credit_data['V23'].fillna(credit_data['V23'].median(),inplace=True)
credit_data['V24'].fillna(credit_data['V24'].median(),inplace=True)
credit_data['V25'].fillna(credit_data['V25'].median(),inplace=True)
credit_data['V26'].fillna(credit_data['V26'].median(),inplace=True)
credit_data['V27'].fillna(credit_data['V27'].median(),inplace=True)
credit_data['V28'].fillna(credit_data['V28'].median(),inplace=True)
credit_data['Amount'].fillna(credit_data['Amount'].median(),inplace=True)
credit_data['Class'].fillna(credit_data['Class'].median(),inplace=True)
credit_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [15]:
credit_data['Class'].value_counts()
#Cannot train bcoz theres lot of difference

0.0    19813
1.0       85
Name: Class, dtype: int64

This dataset is highly imbalance

0-->Normal
1-->frad\ud transaction

In [18]:
#seperating for analysis
legit=credit_data[credit_data.Class==0]
fraud=credit_data[credit_data.Class==1]

In [20]:
print(legit.shape, fraud.shape)

(19813, 31) (85, 31)

In [21]:
legit.Amount.describe()

count    19813.000000
mean        70.167121
std        205.086303
min          0.000000
25%          5.900000
50%         16.070000
75%         59.950000
max       7879.420000
Name: Amount, dtype: float64

In [22]:
fraud.Amount.describe()

count      85.000000
mean       93.869647
std       261.736641
min         0.000000
25%         1.000000
50%         1.000000
75%        99.990000
max      1809.680000
Name: Amount, dtype: float64

In [23]:
credit_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,15484.077474,-0.207354,0.215273,0.803124,0.250987,-0.137418,0.104295,-0.109007,0.002943,0.652161,...,0.036038,-0.050461,-0.145392,-0.036603,0.011907,0.121911,0.032492,0.010623,0.006941,70.167121
1.0,17436.164706,-8.862174,6.570214,-12.622087,6.343007,-6.187820,-2.567646,-8.600077,4.519437,-3.041592,...,0.725080,0.536833,-0.395312,-0.385599,-0.275306,0.359543,0.180456,0.907255,0.093985,93.869647

Under Sampling 

Build sample dataset containing similar distribution of normal and fraud transaction

No. of fraud 85
Take normal transaction : 85 and join them

In [25]:
legit_sample=legit.sample(n=85)

In [26]:
#concanate two dataset
new_dataset=pd.concat([legit_sample,fraud],axis=0)

In [27]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
17801,28929,-0.753968,0.002487,1.968478,1.649909,-0.065142,0.322556,-0.026588,0.343051,0.372491,...,0.081728,0.329601,0.056745,0.059102,-0.184669,-0.179214,0.172692,0.156559,65.00,0.0
19123,30034,0.115913,1.220893,1.037271,2.668970,0.780421,0.042931,1.055753,-0.264627,-1.828520,...,0.084298,0.386334,-0.197979,0.027251,-0.207579,0.203530,-0.094516,-0.160892,18.19,0.0
17747,28879,1.449456,-1.197765,0.340750,-1.678298,-1.145753,0.333505,-1.305169,0.197276,-1.842871,...,-0.344163,-0.698520,0.091164,-0.885094,0.110565,-0.345260,0.047784,0.008504,25.79,0.0
4567,3889,-1.046495,0.264073,3.521599,1.409309,-0.616022,0.596741,-0.515098,0.454217,1.923712,...,-0.238599,-0.257030,-0.223218,0.364550,0.192796,0.920144,-0.024121,0.058908,15.87,0.0
14002,24892,1.096722,0.255776,1.082324,1.375560,-0.511862,-0.306692,-0.297760,-0.105118,1.430725,...,0.056988,0.493281,-0.034955,0.370518,0.417534,-0.331133,0.035792,0.031180,30.24,0.0

In [28]:
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
17480,28755,-30.552380,16.713389,-31.103685,6.534984,-22.105532,-4.977692,-20.371514,20.007208,-3.565738,...,1.816520,-2.288686,-1.460544,0.183179,2.208209,-0.208824,1.232636,0.356660,99.99,1.0
18466,29526,1.102804,2.829168,-3.932870,4.707691,2.937967,-1.800904,1.672734,-0.300240,-2.783011,...,-0.106994,-0.250050,-0.521627,-0.448950,1.291646,0.516327,0.009146,0.153318,0.68,1.0
18472,29531,-1.060676,2.608579,-2.971679,4.360089,3.738853,-2.728395,1.987616,-0.357345,-2.757535,...,-0.063168,-0.207385,-0.183261,-0.103679,0.896178,0.407387,-0.130918,0.192177,0.68,1.0
18773,29753,0.269614,3.549755,-5.810353,5.809370,1.538808,-2.269219,-0.824203,0.351070,-3.759059,...,0.371121,-0.322290,-0.549856,-0.520629,1.378210,0.564714,0.553255,0.402400,0.68,1.0
18809,29785,0.923764,0.344048,-2.880004,1.721680,-3.019565,-0.639736,-3.801325,1.299096,0.864065,...,0.899931,1.481271,0.725266,0.176960,-1.815638,-0.536517,0.489035,-0.049729,30.30,1.0

In [29]:
new_dataset['Class'].value_counts()

0.0    85
1.0    85
Name: Class, dtype: int64

In [31]:
new_dataset.groupby('Class').mean()
#to check the difference

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,16215.258824,-0.297804,0.367299,0.676602,0.168997,-0.413062,-0.009447,-0.241112,-0.105618,0.579742,...,0.113164,-0.209495,-0.047784,0.066540,0.070093,0.088684,-0.002406,0.060294,0.025116,56.146235
1.0,17436.164706,-8.862174,6.570214,-12.622087,6.343007,-6.187820,-2.567646,-8.600077,4.519437,-3.041592,...,0.725080,0.536833,-0.395312,-0.385599,-0.275306,0.359543,0.180456,0.907255,0.093985,93.869647

In [33]:
X=new_dataset.drop(columns=['Class'],axis=1)
Y=new_dataset['Class']

In [42]:
X_train, X_test, Y_train, Y_test=train_test_split(X,Y,test_size=0.2,stratify=Y,random_state=2)

In [43]:
model=LogisticRegression()
model.fit(X_train,Y_train)

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [44]:
X_train_pred=model.predict(X_train)
training_pred=accuracy_score(X_train_pred,Y_train)
print(training_pred)

0.9852941176470589

In [45]:
X_test_pred=model.predict(X_test)
test_pred=accuracy_score(X_test_pred,Y_test)
print(test_pred)

0.9117647058823529